*

!docker/
!docker/lerobot/
!docker/lerobot/Dockerfile
!docker/lerobot/requirements.txt
!docker/calvin/
!docker/calvin/Dockerfile

!lerobot/
!lerobot/**

!src/
!src/benchmarks/
!src/benchmarks/calvin/
!src/benchmarks/calvin/**

**/.git
**/.git/**
