[submodule "robosuite"]
	path = src/benchmarks/robosuite
	url = https://github.com/ARISE-Initiative/robosuite
[submodule "robocasa"]
	path = src/benchmarks/robocasa
	url = https://github.com/hanyangtae/robocasa.git
	branch = temporal_vla
[submodule "src/policies/dreamvla"]
	path = src/policies/dreamvla
	url = https://github.com/Zhangwenyao1/DreamVLA
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/hanyangtae/lerobot

[submodule "src/benchmarks/calvin"]
	path = src/benchmarks/calvin
	url = https://github.com/mees/calvin
[submodule "src/policies/UP-VLA"]
	path = src/policies/UP-VLA
	url = https://github.com/CladernyJorn/UP-VLA