[submodule "robosuite"]
	path = src/benchmarks/robosuite
	url = https://github.com/ARISE-Initiative/robosuite
[submodule "robocasa"]
	path = src/benchmarks/robocasa
	url = https://github.com/hanyangtae/robocasa.git
	branch = temporal_vla
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/hanyangtae/lerobot

[submodule "src/benchmarks/calvin"]
	path = src/benchmarks/calvin
	url = https://github.com/mees/calvin
[submodule "src/policies/UP-VLA"]
	path = src/policies/UP-VLA
	url = https://github.com/CladernyJorn/UP-VLA
[submodule "src/policies/Isaac-GR00T"]
	path = src/policies/Isaac-GR00T
	url = https://github.com/hanyangtae/Isaac-GR00T.git
[submodule "src/policies/openvla-oft"]
	path = src/policies/openvla-oft
	url = https://github.com/moojink/openvla-oft.git
[submodule "Isaac-GR00T-N1.5"]
	path = src/policies/Isaac-GR00T-N1.5
	url = https://github.com/hanyangtae/Isaac-GR00T.git
[submodule "task_classification"]
	path = task_classification
	url = https://github.com/robots-oh/task_classification.git
	branch = main
